@page
@model MegaDeskWeb.Pages.DeskQuotes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>MegaDesk Razor Page</h1>

<form>
    <p>
        <div style="display:flex; flex-direction:row; justify-content: space-between">
        <div>
        Customer Name: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
        </div>
        <a asp-page="Create" style="align-self: flex-end">Create New</a>
            </div>
    </p>
</form>
<table class="table">
    <thead>
        <tr style="background-color:deepskyblue">
            <th>
                <!--@Html.DisplayNameFor(model => model.DeskQuote[0].CustomerName)-->
                <a asp-page="./Index" asp-route-sortOrder="@Model.NameSort"
                   asp-route-currentFilter="@Model.CurrentFilter" style="color: darkblue">
                    @Html.DisplayNameFor(model => model.DeskQuote[0].CustomerName)
                </a>
            </th>
            <th>
                <!-- @Html.DisplayNameFor(model => model.DeskQuote[0].Date) -->
                <a asp-page="./Index" asp-route-sortOrder="@Model.DateSort"
                   asp-route-currentFilter="@Model.CurrentFilter" style="color: darkblue">
                    @Html.DisplayNameFor(model => model.DeskQuote[0].Date)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.DeskQuote)
        {
            <tr >
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td style="text-align:right">
                    <a asp-page="./Edit" asp-route-id="@item.ID" style="color: darkblue">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID" style="color: darkblue">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID" style="color: darkblue">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.DeskQuote.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.DeskQuote.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.DeskQuote.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.DeskQuote.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-default @nextDisabled">
    Next
</a>
